.current-issues p {
    text-align: left;
    color: rgb(53, 53, 53);
    margin: 10px 0;
}
.current-issues p span {
    display: inline-block;
    margin-left: 20px;
}

.current-issues p span, .current-issues .description-text {
    color: rgb(92, 92, 92);
}

.current-issues .single-issue {
    position: relative;
}

.current-issues .close-issue {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(92, 92, 92);
}

.current-issues hr {
    border: none;
    background-color: rgb(92, 92, 92);
    height: 1px;
    margin-top: 20px;
}

